{% extends 'Proyectowebapp/base.html' %}
{% load static %}
{% block content %}
<style>
    .page-container {
        background-color: white; /* Set the background color to white */
        /* Add any additional styles as needed */
    }
</style>

<div class="page-container">
    <h1>Resumen pedido</h1>
    <ul>
        <li>Masa: {{masa}}</li> 
        <li>Salsa: {{salsa}}</li>
        <li>Ingredientes: {{ingredientes_principales}}</li>
        <li>Coccion: {{coccion}}</li>
        <li>Maridaje Recomendado: {{maridaje_recomendado}}</li>
        <li>Extra bordes queso: {{extra}}</li>
        <li>Presentacion: {{presentacion}}</li>
    </ul>

    <form method="post" action="{% url 'confirmar_modificar_pedido' %}"> 
        {% csrf_token %}

        <!-- Your form inputs here -->
        <input type="hidden" name="masa" value="{{masa}}">
        <input type="hidden" name="salsa" value="{{salsa}}">
        <input type="hidden" name="ingredientes_principales" value="{{ingredientes_principales}}">
        <input type="hidden" name="coccion" value="{{coccion}}">
        <input type="hidden" name="maridaje_recomendado" value="{{maridaje_recomendado}}">
        <input type="hidden" name="extra" value="{{extra}}">
        <input type="hidden" name="presentacion" value="{{presentacion}}">
        
        

        <input type="radio" name="decision" value="confirmar"> Confirmar
        <input type="radio" name="decision" value="modificar"> Modificar

        <input type="submit" value="Enviar">
    </form>
</div>

{% endblock %}
